.app{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding:20px;
}

img{
    max-width:300px;
    max-height:225px;
    align-items: center;
}



.card{
    min-height:225px;
}